.my-color{
  background-color: rgba(194, 192, 191, 0.4);
  padding: 10px !important;

}
.contact-img {
    width: 10%;
}
.comentario-container {
     border: 1px solid blue;
     border-radius: 10px;
     display: flex;
     align-items: center;
     margin-bottom: 0.3rem;
     padding: 1rem;
     color: black;
}
.imagen-fondo{
  background: url(../img/cocina.jpg);
}
.mi-color{
  background-color: rgba(96, 177, 249, 0.4);
}
 img .favoritos{
  width: 100%;
  height: 0 auto;
  padding: 10px;
  margin: 10px;
}
.subtitulo {
  color: red;
}
